DATABASE_URL="mysql://myName:myPassword@127.0.0.1:3306/myDB"

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_USERNAME=myName
DB_PASSWORD=myPassword
DB_DATABASE=myDB
DB_PORT=mydbPORT
DB_LOGGING=TRUE

PORT=myPORT
JWT_SECRET=jwt-secret